{{ define "main" }}
    <div class="border-b border-gray-500 mb-3">
        <h1 class="text-3xl w-full">{{ i18n "mainPage" }}</h1>
    </div>

    <div class="markdown-body text-sm">
        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto officiis quia quos assumenda expedita quas atque animi distinctio cum.</p>

        <pre class="mt-2"><code class="language-cpp">#include "iostream.h"
                
int main() {
    std::cout('Hello world');
    return 0;
}</code></pre>
    </div>

    <div class="border-b border-gray-500 mt-3">
        <h1 class="text-2xl w-full">{{ i18n "randomPost" }}</h1>
    </div>

    <div class="grid grid-cols-3 my-5">
        {{ range ( where .Site.RegularPages "Type" "posts" | first 15 ) }}
            <div class="text-sm">       
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(107 114 128)" class="w-2 h-2 inline align-middle">
                    <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 013-3h9a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9z" clip-rule="evenodd" />
                </svg>
                <a class="text-blue-700 hover:underline inline align-middle" href="{{ .Permalink }}">
                    <span>{{ .Title }}</span>
                </a>
            </div>
        {{ end }}
    </div>


{{ end }}