{{ define "main" }}
  <h1 class="flex flex-row space-x-2 items-center">
    <span>{{ .Title }}</span>
    {{- with .OutputFormats.Get "rss" -}}
      <a
        rel="alternate"
        type="application/rss+xml"
        href="{{ .RelPermalink }}"
        title="Subscribe to the {{ $.Title }} RSS feed"
        class="text-slate-300 hover:text-orange-600"
      >
        {{ partial "svg/rss.html" }}
      </a>
    {{- end }}
  </h1>

  {{ .Content }}

  <div class="flex flex-col space-y-8">
    {{ $pages := where site.RegularPages "Section" "posts" }}
    {{ $pager := .Paginate ($pages.GroupByDate "2006") 10 }}

    {{- range $pager.PageGroups }}
      <section class="not-prose flex flex-col space-y-4">
        <h2 class="text-xl font-semibold opacity-60 text-right border-b">{{ .Key }}</h2>
        {{ partial "posts/list.html" .Pages }}
      </section>
    {{- end }}

    <section class="not-prose">
      {{- if gt $pager.TotalPages 1 }}
        {{ partial "pagination.html" . }}
      {{- end }}
    </section>
  </div>
{{ end }}