<div class="p-2 mt-3">
    <div class="w-full border border-gray-400 bg-gray-50 p-1">
        <a href="/tags/" class="text-blue-700 hover:underline">{{ i18n "tags" }}</a>
        {{ with .Params.tags }}
        {{ range . }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a href="{{ $href }}" class="border-r border-gray-400 px-2 text-blue-700 hover:underline">{{ . }}</a>
        {{ end }}
        {{ end }}
    </div>
    <div class="w-full border border-gray-400 bg-gray-50 p-1 mt-2 text-gray-700">
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "2 January 2006" }}
    <time datetime="{{ $dateTime }}">{{ i18n "publishedDate" }} {{ .PublishDate.Format $dateFormat }}</time>
    </div>
</div>