<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="font-lato">
  <div class="container mx-auto flex max-w-prose flex-col space-y-10 p-4 md:p-6">
      {{ partial "header.html" . }}
    <main class="prose prose-slate relative md:prose-lg prose-h1:text-[2em]" id="maincontent">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="mt-20 border-t border-neutral-100 pt-2 text-xs">
      {{ partial "footer.html" . }}
    </footer>
  </div>
  {{ if .Store.Get "hasMermaid" }}
    <script
      src="https://cdn.jsdelivr.net/npm/mermaid@11.4.0/dist/mermaid.min.js"
      integrity="sha256-G8ouPAnw4zzMbnAenHnVz6h9XpKbNdOkrqTh7AadyHs="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      mermaid.initialize({
        startOnLoad: true,
        theme: 'neutral',
        fontFamily: "'LatoLatinWeb', sans-serif"
      });
    </script>
  {{ end }}
</body>

</html>