{{ define "main" }}
  <article class="main">
    {{- with .Title }}
      <header>
        <h1 class="!mb-1">{{ . }}</h1>
      </header>
    {{ end -}}
    {{- with .Content }}
      {{ . }}
    {{ end -}}
  </article>

  {{- if default true site.Params.home.showRecentPosts }}
    {{- $posts := where site.RegularPages "Section" "posts" -}}
    {{- with $posts.Limit (int (default 3 site.Params.home.recentPostsLimit)) }}
      <section>
        <h2>Recent posts</h2>

        {{ partial "posts/list.html" . }}
      </section>
    {{ end -}}
  {{ end -}}
{{ end }}